
<!--<nav class="navbar navbar-dark m-a-1" style="background-color: #cedff1">-->
<nav class="navbar navbar-dark m-a-1 bg-inverse">
    <a class="navbar-brand" href="#">天天刀塔</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">资讯<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">玩家</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">账单</a>
        </li>
    </ul>
    <!--<form class="form-inline navbar-form pull-xs-right">-->
    <!--<input class="form-control" type="text" placeholder="Search">-->
    <!--<button class="btn btn-success-outline" type="submit">渠道</button>-->
    <!--</form>-->
</nav>


<div class="container-fluid">
    <div class="row">
        <!--<div class="col-xs-3">-->
            <!--<div class="list-group" id="main-sidebar" ng-init="vm.activeTab=1">-->
                <!--<a ui-sref="main.summary" ui-sref-active="active" class="list-group-item" ng-class="{active: vm.activeTab==1}" ng-click="vm.activeTab=1">-->
                    <!--总览-->
                <!--</a>-->
                <!--<a ui-sref="main.gamestat" ui-sref-active="active" class="list-group-item" ng-class="{active: vm.activeTab==2}" ng-click="vm.activeTab=2">数据</a>-->
                <!--<a ui-sref="main.summary" class="list-group-item" ng-class="{active: vm.activeTab==3}" ng-click="vm.activeTab=3">踢人</a>-->
                <!--<a href="#" class="list-group-item" ng-class="{active: vm.activeTab==4}" ng-click="vm.activeTab=4">公告编辑</a>-->
                <!--<a href="#" class="list-group-item" ng-class="{active: vm.activeTab==5}" ng-click="vm.activeTab=5">活跃统计</a>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-xs-3">
            <div class="list-group" id="main-sidebar">
                <a ui-sref="main.summary" class="list-group-item" ng-class="{active: $state.is('main.summary')}">总览</a>
                <a ui-sref="main.gamestat" ui-sref-active="active" class="list-group-item">数据</a>
                <a ui-sref="main.kick" ui-sref-active="active" class="list-group-item">踢人</a>
                <a href="#" class="list-group-item" ng-class="{active: vm.activeTab==4}">公告编辑</a>
                <a href="#" class="list-group-item" ng-class="{active: vm.activeTab==5}">活跃统计</a>
            </div>
        </div>

        <div class="col-xs-9">
            <div ui-view=""></div>
        </div>
    </div>

    <div ui-view="uiview2"></div>
</div>



