<div class="container-fluid">
    <div class="text-xs-center m-t-3 p-t-3 p-b-1">
        <h3>后台管理</h3>
    </div>

    <div class="col-sm-offset-3 col-sm-6  col-xs-8 col-xs-offset-2 p-t-1 p-l-1 p-r-1" id="login-panel" >
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 control-label">
                    邮箱
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" />
                </div>
            </div>
            <div class="form-group row">

                <label for="inputPassword3" class="col-sm-3 control-label">
                    密码
                </label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" />
                </div>
            </div>

            <div class="form-group row">
                <!--<div class="text-center">-->
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="login()">
                        登陆
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>